<ion-header>
  <ion-toolbar>
    <ion-title>Codepan View</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-card>
  <textarea id="html" placeholder="HTML" [(ngModel)]="html_code" (ngModelChange)="contentRewrite()"></textarea>
  <textarea id="css" placeholder="CSS" [(ngModel)]="css_code" (ngModelChange)="contentRewrite()"></textarea>
  <textarea id="js" placeholder="JavaScript" [(ngModel)]="js_code" (ngModelChange)="contentRewrite()"   ></textarea>
  <iframe id="code" #code></iframe>
 </ion-card>

</ion-content>
