<ion-header>
  <ion-toolbar>
    <ion-title>PW v1.0.3 N3</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="danger" *ngIf="a2hsRes && showBtn">
    <ion-title>Install this app</ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark" fill="solid" (click)="addToHome()">Add Now</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-card class="ion-padding">
    <ion-item color="light">
      <ion-label position="floating">Enter Number 1</ion-label>
      <ion-input type="number" [(ngModel)]="num1"></ion-input>
    </ion-item>
    <br>
    <ion-item color="light">
      <ion-label position="floating">Enter number 2</ion-label>
      <ion-input type="number" [(ngModel)]="num2"></ion-input>
    </ion-item>
    <ion-button size="block" color="success" (click)="submit()">Sum</ion-button>

    <ion-item lines="none">
      <ion-label slot="start">Sum result</ion-label>
      <ion-label slot="end">{{result}}</ion-label>
    </ion-item>
  </ion-card>

  <!-- <ion-list>
    <ion-item>
      <ion-label>Name</ion-label>
      <ion-label>{{AppName}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Package</ion-label>
      <ion-label>{{PackageName}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Version</ion-label>
      <ion-label>{{VersionNumber}}</ion-label>
    </ion-item>
  </ion-list> -->
</ion-content>
