<ion-header>
  <ion-toolbar>
    <ion-title>Themes Changes</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>  
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item [color]="themeColor">
    <ion-label>Theme Color</ion-label>
    <ion-select okText="Okay" cancelText="Dismiss" [(ngModel)]="themeColor" (ionChange)="changeSelectItem($event)">
      <ion-select-option value="green">Green</ion-select-option>
      <ion-select-option value="purple">Purple</ion-select-option>
      <ion-select-option value="red">Red</ion-select-option>
      <ion-select-option value="dark">Dark</ion-select-option>
    </ion-select>
  </ion-item>  
  <br>
  <div class="ion-padding">
    <ion-card class="ion-padding" color="primary">
      <h3 class="light" color="light">Session is running</h3>
      <p class="medium" color="medium">Get 20% discount to all products</p>
    </ion-card>
    <ion-row>
      <ion-col class="ion-margin-top ion-margin-bottom ion-padding" class="ion-margin-top ion-margin-bottom ion-padding" size="4" size-lg="2" color="dark">
        <div class="sm-card" >
        <ion-icon name="accessibility-outline" color="primary"></ion-icon>
        <ion-text color="primary">Home</ion-text>
      </div>
      </ion-col>
      <ion-col class="ion-margin-top ion-margin-bottom ion-padding" size="4" size-lg="2">
        <div class="sm-card" >
          <ion-icon color="primary" name="add-circle-outline"></ion-icon>
          <ion-text color="primary">About</ion-text>
        </div>    
      </ion-col>
      <ion-col class="ion-margin-top ion-margin-bottom ion-padding" size="4" size-lg="2">
        <div class="sm-card" >
          <ion-icon name="airplane-outline" color="primary"></ion-icon>
          <ion-text color="primary">Shop</ion-text>
        </div>
      </ion-col>
      <ion-col class="ion-margin-top ion-margin-bottom ion-padding" size="4" size-lg="2">
        <div class="sm-card">
          <ion-icon name="alarm-outline" color="primary"></ion-icon>
          <ion-text color="primary">Blog</ion-text>
        </div>
      </ion-col>
      <ion-col class="ion-margin-top ion-margin-bottom ion-padding" size="4" size-lg="2">
        <div class="sm-card">
          <ion-icon name="american-football-outline" color="primary"></ion-icon>
        <ion-text color="primary">Contact</ion-text>
        </div>
      </ion-col>
      <ion-col class="ion-margin-top ion-margin-bottom ion-padding" size="4" size-lg="2">
        <div class="sm-card">
          <ion-icon color="primary" name="baseball-outline"></ion-icon>
        <ion-text color="primary">Call</ion-text>
        </div>
      </ion-col> 
    </ion-row>
  </div>


</ion-content>
